* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #4891ff;
    --light-blue: #CAE9F5;
    --navy: #0B0B45;

}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none; 
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*Navigation Bar*/
.navbar {
    background: #fff; 
    padding: 20px; 
}

.navbar .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar .container .title {
    font-family: 'Poppins', sans-serif; 
    font-size: 36px;
    line-height: 1.5;
    background: #fff;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px; 
    display: block; 
    font-weight: 600; 
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li a:hover {
    color: var(--blue);
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Project Bar*/
.projbar {
    background: #333; 
    padding: 20px; 
}

.projbar .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.projbar .container .title  a {
    color: #fff; 
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    line-height: 1.5;
    background: #333;
}

.projbar a {
    color: #fff; 
}

.projbar .main-menu ul {
    display: flex;
}

.projbar ul li a {
    color: #fff; 
    padding: 10px 20px; 
    display: block; 
    font-weight: 600; 
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
}

.projbar ul li a:hover {
    color: var(--blue);
}

.projbar ul li a i {
    margin-right: 10px;
}

/* About Me */
.about-me {
    margin-bottom: 0px;
}

.about-me .container {
    background: url('../images/about-me.png') no-repeat; 
    background-size: contain; 
    background-position: center bottom; 
    height: 550px; 
}

.about-me .about-me-content {
    width: 100%;
    margin-bottom: 20px; 
}

.about-me .about-me-content .about-me-grid {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* Projects */
.proj {
    padding: 20px 0;
}

.proj .container .proj-content .img-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
}

/* UTILITY CLASSES */
.container {
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

/* Buttons */
.btn {
    display: inline-block; 
    padding: 13px 20px;
    background: var(--navy);
    color: #fff;
    font-weight: 600; 
    text-decoration: none; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.5s;  
}

.btn:hover {
    color: var(--light-blue);
}

.btn-light {
    background: var(--light-blue);
    color: #333; 
}

.btn-light:hover {
    color: var(--blue);
}

/* Text Classes */
.text-xxl {
    font-size: 3rem; 
    line-height: 1.2; 
    font-weight: 600; 
    margin: 30px 0 20px; 
}

.text-xl {
    font-size: 2.2rem; 
    line-height: 1.4; 
    font-weight: normal; 
    margin: 30px 0 20px; 
}

.text-lg {
    font-size: 1.8rem; 
    line-height: 1.4; 
    font-weight: normal; 
    margin: 30px 0 20px; 
}

.text-md {
    font-size: 1.2rem; 
    line-height: 1.4; 
    font-weight: bold; 
    margin: 20px 0 10px; 
}

.text-sm {
    font-size: 0.9rem; 
    line-height: 1.4; 
    font-weight: normal; 
    margin: 10px 0 5px; 
}

.text-center {
    text-align: center; 
}

/* Background Classes */
.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #DEDEDE;
  color: #333;
}
