* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #4891ff;
    --light-blue: #CAE9F5;
    --navy: #0B0B45;

}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none; 
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.navbar {
    background: #fff; 
    padding: 20px; 
}

.navbar .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar .container .title {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    line-height: 1.5;
    background: #fff;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px; 
    display: block; 
    font-weight: 600; 
    transition: 0.5s
}

.navbar ul li a:hover {
    color: var(--blue);
}

/* Utility Classes */
.container {
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.container-sm {
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

/* Buttons */
.btn {
    display: inline-block; 
    padding: 13px 20px;
    background: var(--navy);
    color: #fff;
    font-weight: 600; 
    text-decoration: none; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.5s;  
}

.btn:hover {
    color: var(--light-blue);
}

.btn-light {
    background: var(--light-blue);
    color: #333; 
}

.btn-light:hover {
    color: var(--blue);
}